@use 'vars' as v;
@use 'sass:color';

// Colores de Bootstrap
$primary: v.$color-primario-claro;
$secondary: v.$color-secundario-claro;
$success: #28a745;
$info: v.$color-principal-claro;
$warning: #ffc107;
$danger: #dc3545;
$light: v.$color-cuarto-oscuro;
$dark: v.$color-negro;

// Tipografía
$font-family-sans-serif: v.$font-family-base;
$font-family-base: v.$font-family-base;
$headings-font-family: v.$font-family-header;

$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;

$h1-font-size: v.$font-size-lg;
$h2-font-size: v.$font-size-md;
$h3-font-size: v.$font-size-sm;
$h4-font-size: v.$font-size-sm;
$h5-font-size: v.$font-size-sm;
$h6-font-size: v.$font-size-sm;

$headings-font-weight: 700;
$display-font-weight: 900;

// Espaciado
$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * 0.25,    // 4px
    2: $spacer * 0.5,     // 8px
    3: $spacer,           // 16px
    4: $spacer * 1.5,     // 24px
    5: $spacer * 3,       // 48px
);

// Bordes
$border-radius: 0.5rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 1rem;
$border-radius-pill: 50rem;

// Sombras
$box-shadow: 0 0.5rem 1rem rgba(v.$color-negro, 0.15);
$box-shadow-sm: 0 0.125rem 0.25rem rgba(v.$color-negro, 0.075);
$box-shadow-lg: 0 1rem 3rem rgba(v.$color-negro, 0.175);

// Grid
$grid-columns: 12;
$grid-gutter-width: 1.5rem;
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
);

// Navbar
$navbar-padding-y: v.$spacing-sm;
$navbar-light-color: v.$color-primario-oscuro;
$navbar-light-hover-color: v.$color-secundario-oscuro;
$navbar-light-active-color: v.$color-secundario-oscuro;
$navbar-dark-color: rgba(v.$color-cuarto-oscuro, .75);
$navbar-dark-hover-color: v.$color-cuarto-oscuro;

// Cards
$card-spacer-y: v.$spacing-md;
$card-spacer-x: v.$spacing-md;
$card-border-radius: 1rem;
$card-border-color: transparent;
$card-box-shadow: $box-shadow; 