@use 'vars' as v;
@use 'mixins' as m;
@use 'sass:color';

html {
    @include m.box-sizing(border-box);
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

*, *::before, *::after {
    @include m.box-sizing(inherit);
}

@font-face {
    font-family: 'Inter';
    src: url('../../../fonts/');
}

@font-face {
    font-family: 'Helvetica';
    src: url('../../../fonts/');
}

body {
    font-family: v.$font-family-base;
    font-size: 1.6rem;
    color: v.$color-primario-oscuro;
    background-color: v.$color-cuarto-oscuro;
    line-height: v.$line-height-md;
}

h1, h2, h3 {
    font-family: v.$font-family-header;
    margin: 0 0 v.$separation 0;
    font-weight: 700;
    line-height: v.$line-height-sm;
}

h1 {
    font-size: v.$font-size-lg;
}

h2 {
    font-size: v.$font-size-md;
}

h3 {
    font-size: v.$font-size-sm;
}

a {
    text-decoration: none;
    color: v.$color-secundario-claro;
    font-size: v.$font-size-sm;
    transition: color 0.3s ease;

    &:hover {
        color: color.adjust(v.$color-secundario-claro, $lightness: -15%);
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

p {
    font-size: v.$font-size-sm;
    line-height: v.$line-height-md;
    color: v.$color-primario-oscuro;
    margin-bottom: v.$spacing-md;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
    padding: 0 v.$spacing-sm;
}