 //* Colores
// Colores - modo claro
$color-principal-claro: #bee9e8;
$color-primario-claro: #62b6cb;
$color-secundario-claro: #1b4965;
$color-terciario-claro: #cae9ff;
$color-cuarto-claro: #5fa8d3;

// Colores - modo oscuro
$color-negro: #000000;
$color-primario-oscuro: #2f4550;
$color-secundario-oscuro: #586f7c;
$color-terciario-oscuro: #B8DBD9;
$color-cuarto-oscuro: #f4f4f9;

//* Tipografía
$font-family-base: 'Helvetica', sans-serif;
$font-family-header: 'Inter', sans-serif;

//* Tamaños de fuente
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 24px;

//* Separación
$separation: 5rem;

//* Espaciado
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;

//* Espaciado de letras
$letter-spacing-sm: 0.5px;
$letter-spacing-md: 1px;
$letter-spacing-lg: 1.5px;

//* Espaciado de palabras
$word-spacing-sm: 0.5px;
$word-spacing-md: 1px;
$word-spacing-lg: 1.5px;

//* Espaciado de líneas
$line-height-sm: 1.2;
$line-height-md: 1.4;
$line-height-lg: 1.6;

//* Media Queries
$small: 480px;
$medium: 768px;
$large: 1024px;