@use '../base/vars' as v;

.navbar {
    padding: 0;

    img {
        height: 7rem;
    }
    
    .logo-container {
        left: 0;
        top: 0;
        background-color: v.$color-principal;
    }
}